:root{
  --color-primary: #555;
  --color-secondary: #265073;
  --color-background: #F1FADA;
  --color-white: #fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.flex{
  display: flex;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

